[submodule "zsh/.zim/modules/asciiship"]
	path = zsh/.zim/modules/asciiship
	url = https://github.com/zimfw/asciiship.git
[submodule "zsh/.zim/modules/completion"]
	path = zsh/.zim/modules/completion
	url = https://github.com/zimfw/completion.git
[submodule "zsh/.zim/modules/duration-info"]
	path = zsh/.zim/modules/duration-info
	url = https://github.com/zimfw/duration-info.git
[submodule "zsh/.zim/modules/environment"]
	path = zsh/.zim/modules/environment
	url = https://github.com/zimfw/environment.git
[submodule "zsh/.zim/modules/git-info"]
	path = zsh/.zim/modules/git-info
	url = https://github.com/zimfw/git-info.git
[submodule "zsh/.zim/modules/git"]
	path = zsh/.zim/modules/git
	url = https://github.com/zimfw/git.git
[submodule "zsh/.zim/modules/input"]
	path = zsh/.zim/modules/input
	url = https://github.com/zimfw/input.git
[submodule "zsh/.zim/modules/termtitle"]
	path = zsh/.zim/modules/termtitle
	url = https://github.com/zimfw/termtitle.git
[submodule "zsh/.zim/modules/utility"]
	path = zsh/.zim/modules/utility
	url = https://github.com/zimfw/utility.git
[submodule "zsh/.zim/modules/zsh-autosuggestions"]
	path = zsh/.zim/modules/zsh-autosuggestions
	url = https://github.com/zimfw/zsh-autosuggestions.git
[submodule "zsh/.zim/modules/zsh-completions"]
	path = zsh/.zim/modules/zsh-completions
	url = https://github.com/zimfw/zsh-completions.git
[submodule "zsh/.zim/modules/zsh-history-substring-search"]
	path = zsh/.zim/modules/zsh-history-substring-search
	url = https://github.com/zimfw/zsh-history-substring-search.git
[submodule "zsh/.zim/modules/zsh-syntax-highlighting"]
	path = zsh/.zim/modules/zsh-syntax-highlighting
	url = https://github.com/zimfw/zsh-syntax-highlighting.git
